@model IEnumerable<Grade>
<body>
	<h3>List of all grades:</h3>
	@foreach (var grade in Model) {
		<div class="border border-1 border-dark p-2 ">
			<p>Name: @grade.Student.LastName</p>
			<p>Subject: @grade.Subject.Name </p>
			<p>Topic: @grade.What</p>
			<p>Date of change: @grade.Date.ToShortDateString()</p>
			<p>Mark: @grade.Mark</p>
			<a class="btn btn-warning" asp-controller="Grades" asp-action="Edit" asp-route-id="@grade.Id">Edit</a> 	@*buttony jsou odkazy(anchor) barva zluta*@
			<a class="btn btn-danger"asp-controller="Grades" asp-action="Delete" asp-route-id="@grade.Id">Delete</a>			@*barva cervena*@
		</div>
	}
	<hr />
	<div>
		<a class="btn btn-success" asp-controller="Grades" asp-action="Create">Add new grade</a>
	</div>
</body>
