@model IEnumerable<Grade>
<body>
	<h3>List of all grades:</h3>
	<hr />
	<div>
		<a class="btn btn-success" asp-controller="Grades" asp-action="Create" style="margin-bottom:15px;">Add new grade</a>
	</div>
	<div style="overflow-x:auto;">
		<table class="table table-bordered table-sm" style="border:solid black 4px;background:#E5E7EB;width:max-content;margin-left:auto;margin-right:auto;">
		<tr>
			<th>Name:</th>
			<th>Last Name:</th>
			<th>Subject:</th>
			<th>Topic:</th>
			<th>Date of change:</th>
			<th>Mark:</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	@foreach (var grade in Model) {
		<tr>
			<td>@grade.Student.FirstName</td>
			<td>@grade.Student.LastName</td>
			<td>@grade.Subject.Name </td>
			<td>@grade.What</td>
			<td>@grade.Date.ToShortDateString()</td>	
			<td>@grade.Mark</td>
					<td><a class="btn btn-warning" asp-controller="Grades" asp-action="Edit" asp-route-id="@grade.Id" style="border:solid 1px white;">Edit</a></td>	 	@*buttony jsou odkazy(anchor) barva zluta*@
					<td><a class="btn btn-danger" asp-controller="Grades" asp-action="Delete" asp-route-id="@grade.Id" style="border:solid 1px white;">Delete</a></td>			@*barva cervena*@
		</tr>
	}
	</table>
	</div>
	
</body>
