@{
	ViewData["Title"] = "Students";
}
@model IEnumerable<Student>
@*<head>
	<link rel="stylesheet" href="~/css/Students_Index_Styles.css" />
</head>*@
<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Upload">
	<div class="form-group">
		<input type="file" name="file" />
		@* Pokud se parametr jmenuje file, musi i name inputu byt file*@
	</div>
	<div class="form-group">
		<input type="submit" value="Upload" />
	</div>
</form>

<body>
	<h3>List of students:</h3>
	<hr />
	<div>
		<a class="btn btn-success" asp-action="Create" style="margin-bottom:15px;">Create a new student</a>
	</div>
	<table class="table table-bordered table-sm" style="border:solid black 4px;width:max-content">
		<th>Name</th>
		<th>Last Name</th>
		<th>Id</th>
		<th>Date of Birth</th>
		<th>Edit</th>
		<th>Delete</th>
	@foreach (var student in Model){
		<tr>
			<td>@student.FirstName</td>
			<td>@student.LastName</td>
			<td>@student.Id</td>
			<td>@student.DateOfBirth.ToShortDateString()</td>
			<td><a class="btn btn-warning" asp-action="Edit" asp-route-id="@student.Id">Edit</a></td>
			<td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@student.Id">Delete</a></td>
		</tr>
	}
	</table>

</body>
